@font-face {
  font-family: "EB Garamond";
  src: url("./EBGaramond-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./EBGaramond-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
